<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HOLONET MAIL RELAY 2.0.6</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/holonet.css">
  </head>

  <body>
    <header></header>

    <div class='container'>
      <%= @inner %>
    </div>

     <div class="footer">
       <div class="container">
       </div>
     </div>
  </body>
</html>
